<div class="container flscontainer">
    <div class="row">
        <h1 translate="{{title}}"></h1>
    </div>
    <div class="row">
        <fls-message-bar ng-show="!busy"></fls-message-bar>
    </div>
    <fls-busy-indicator busy="busy" error="error">
        <ng-transclude></ng-transclude>
    </fls-busy-indicator>
    <div class="row hidden-print" ng-if="onNewClick">
        <button type="button" class="btn btn-default pull-right" style="margin:10px;margin-right:0;"
                ng-click="onNewClick()"
                translate="NEW">New
        </button>
    </div>
</div>