<div class="container flscontainer">
    <div class="col-md-12">
        <fls-busy-indicator busy="busy"
                            error="error">
            <h1 translate="ACCOUNTING_RULE_FILTERS"></h1>
            <fls-message-bar></fls-message-bar>

            <form role="form"
                  ng-submit="save(accountingRuleFilter)"
                  class="css-form"
                  ng-class="{'readonly-form':!accountingRuleFilter.CanUpdateRecord}"
                  name="accountingRuleFilterForm">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="AccountingRuleFilterTypeId"><span
                                translate="ACCOUNTING_RULE_FILTER_TYPE"></span></label>

                        <selectize id="AccountingRuleFilterTypeId"
                                   name="AccountingRuleFilterTypeId"
                                   options="md.accountingRuleFilterTypes"
                                   ng-disabled="!accountingRuleFilter.CanUpdateRecord"
                                   config="{
                                                inputClass: 'form-control selectize-input',
                                                maxItems: 1,
                                                valueField: 'AccountingRuleFilterTypeId',
                                                searchField: ['AccountingRuleFilterTypeId', 'AccountingRuleFilterTypeName'],
                                                render: renderAccountingRuleFilterType,
                                                onChange: accountingRuleFilterTypeChanged
                                            }"
                                   ng-model="accountingRuleFilter.AccountingRuleFilterTypeId"></selectize>

                        <fls-labelled-checkbox entity="accountingRuleFilter"
                                               attribute="IsActive"
                                               translation-key="ACCOUNTING_RULE_FILTER_ACTIVE"></fls-labelled-checkbox>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">

                        <div class="form-group">
                            <label for="RuleFilterName"><span translate="ACCOUNTING_RULE_FILTER_NAME"></span></label>
                            <input class="form-control"
                                   id="RuleFilterName"
                                   ng-model="accountingRuleFilter.RuleFilterName"
                                   required>
                        </div>

                        <div class="form-group">
                            <label for="Description"><span translate="DESCRIPTION"></span></label>
                            <input class="form-control"
                                   id="Description"
                                   ng-model="accountingRuleFilter.Description">
                        </div>

                    </div>
                    <div class="col-md-4">

                        <fls-labelled-checkbox entity="accountingRuleFilter"
                                               attribute="IsRuleForSelfstartedGliderFlights"
                                               translation-key="FOR_SELF_STARTER_GLIDER_FLIGHTS"></fls-labelled-checkbox>

                        <fls-labelled-checkbox entity="accountingRuleFilter"
                                               attribute="IsRuleForGliderFlights"
                                               translation-key="FOR_GLIDER_FLIGHTS"></fls-labelled-checkbox>

                        <fls-labelled-checkbox entity="accountingRuleFilter"
                                               attribute="IsRuleForTowingFlights"
                                               translation-key="FOR_TOWING_FLIGHTS"></fls-labelled-checkbox>

                        <fls-labelled-checkbox entity="accountingRuleFilter"
                                               attribute="IsRuleForMotorFlights"
                                               translation-key="FOR_MOTOR_FLIGHTS"></fls-labelled-checkbox>

                    </div>

                    <div class="form-group col-md-6" ng-if="!targetTypeRecipientVisible()">
                        <label for="ArticleTarget"><span translate="ARTICLE"></span></label>

                        <selectize id="ArticleTarget"
                                   name="ArticleTarget"
                                   options="md.articles"
                                   ng-disabled="!accountingRuleFilter.CanUpdateRecord"
                                   config="{
                                            inputClass: 'form-control selectize-input',
                                            maxItems: 1,
                                            valueField: 'ArticleNumber',
                                            searchField: ['ArticleName', 'ArticleNumber'] ,
                                            render: renderArticle,
                                            onChange: articleChanged
                                        }"
                                   ng-model="selection.ArticleNumber"></selectize>
                    </div>

                    <div class="form-group col-md-6" ng-if="!targetTypeRecipientVisible()">
                        <label for="DeliveryLineText"><span translate="DELIVERY_LINE_TEXT"></span></label>
                        <input class="form-control"
                               id="DeliveryLineText"
                               ng-model="text.DeliveryLineText">
                    </div>

                    <div class="form-group col-md-6" ng-if="targetTypeRecipientVisible()">
                        <label for="RecipientTarget"><span translate="RECIPIENT"></span></label>

                        <selectize id="RecipientTarget"
                                   name="RecipientTarget"
                                   options="md.persons"
                                   ng-disabled="!accountingRuleFilter.CanUpdateRecord"
                                   config="{
                                            inputClass: 'form-control selectize-input',
                                            maxItems: 1,
                                            valueField: 'MemberNumber',
                                            searchField: ['Firstname', 'Lastname'] ,
                                            render: renderPerson,
                                            onChange: recipientChanged
                                        }"
                                   ng-model="selection.PersonClubMemberNumber"></selectize>
                    </div>

                    <div class="form-group col-md-6" ng-if="targetTypeRecipientVisible()">
                        <label for="RecipientName"><span translate="RECIPIENT_NAME"></span></label>
                        <input class="form-control"
                               id="RecipientName"
                               ng-model="text.RecipientName">
                    </div>

                    <div class="col-md-12 fls-list-selection-panel">

                        <div class="form-group">
                            <label for="MatchedAircraftImmatriculations" class="fls-list-selection-label">
                                <div translate="AIRCRAFTS" class="fls-list-selection-label-text"></div>
                                <div class="fls-include-exclude-radio-choice"><input type="radio" name="aircraftIncl" value="ONLY"> nur folgende</div>
                                <div class="fls-include-exclude-radio-choice"><input type="radio" name="aircraftIncl" value="EXCEPT"> alle ausser</div>
                            </label>

                            <selectize id="MatchedAircraftImmatriculations"
                                       name="MatchedAircraftImmatriculations"
                                       options="md.aircrafts"
                                       ng-disabled="!accountingRuleFilter.CanUpdateRecord"
                                       config="{
                                                inputClass: 'form-control selectize-input',
                                                valueField: 'Immatriculation',
                                                searchField: ['Immatriculation'] ,
                                                labelField: 'Immatriculation'
                                            }"
                                       ng-model="accountingRuleFilter.MatchedAircraftImmatriculations"></selectize>
                        </div>

                        <div class="form-group">
                            <label for="MatchedFlightTypeCodes" class="fls-list-selection-label">
                                <div translate="FLIGHT_TYPES" class="fls-list-selection-label-text"></div>
                                <div class="fls-include-exclude-radio-choice"><input type="radio" name="flightTypesIncl" value="ONLY"> nur folgende</div>
                                <div class="fls-include-exclude-radio-choice"><input type="radio" name="flightTypesIncl" value="EXCEPT"> alle ausser</div>
                            </label>

                            <selectize id="MatchedFlightTypeCodes"
                                       name="MatchedFlightTypeCodes"
                                       options="md.flightTypes"
                                       ng-disabled="!accountingRuleFilter.CanUpdateRecord"
                                       config="{
                                                inputClass: 'form-control selectize-input',
                                                valueField: 'FlightCode',
                                                searchField: ['FlightCode', 'FlightTypeName'] ,
                                                labelField: 'FlightTypeName'
                                            }"
                                       ng-model="accountingRuleFilter.MatchedFlightTypeCodes"></selectize>
                        </div>

                        <div class="form-group">
                            <label for="MatchedStartLocations" class="fls-list-selection-label">
                                <div translate="START_LOCATIONS" class="fls-list-selection-label-text"></div>
                                <div class="fls-include-exclude-radio-choice"><input type="radio" name="startLocationsIncl" value="ONLY"> nur folgende</div>
                                <div class="fls-include-exclude-radio-choice"><input type="radio" name="startLocationsIncl" value="EXCEPT"> alle ausser</div>
                            </label>

                            <selectize id="MatchedStartLocations"
                                       name="MatchedStartLocations"
                                       options="md.locations"
                                       ng-disabled="!accountingRuleFilter.CanUpdateRecord"
                                       config="{
                                                inputClass: 'form-control selectize-input',
                                                valueField: 'IcaoCode',
                                                searchField: ['LocationName', 'IcaoCode'] ,
                                                labelField: 'LocationName'
                                            }"
                                       ng-model="accountingRuleFilter.MatchedStartLocations"></selectize>
                        </div>

                        <div class="form-group">
                            <label for="MatchedLdgLocations" class="fls-list-selection-label">
                                <div translate="LANDING_LOCATIONS" class="fls-list-selection-label-text"></div>
                                <div class="fls-include-exclude-radio-choice"><input type="radio" name="ldgLocationsIncl" value="ONLY"> nur folgende</div>
                                <div class="fls-include-exclude-radio-choice"><input type="radio" name="ldgLocationsIncl" value="EXCEPT"> alle ausser</div>
                            </label>

                            <selectize id="MatchedLdgLocations"
                                       name="MatchedLdgLocations"
                                       options="md.locations"
                                       ng-disabled="!accountingRuleFilter.CanUpdateRecord"
                                       config="{
                                                inputClass: 'form-control selectize-input',
                                                valueField: 'IcaoCode',
                                                searchField: ['LocationName', 'IcaoCode'] ,
                                                labelField: 'LocationName'
                                            }"
                                       ng-model="accountingRuleFilter.MatchedLdgLocations"></selectize>
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <button type="button"
                            ng-click="cancel()"
                            class="btn btn-default pull-right"
                            translate="CANCEL">
                        Cancel
                    </button>
                    <button type="submit"
                            class="btn btn-default pull-right"
                            ng-disabled="accountingRuleFilterForm.$invalid || !accountingRuleFilter.CanUpdateRecord"
                            translate="SAVE"
                            style="margin-right:10px;">Save
                    </button>
                </div>
            </form>
        </fls-busy-indicator>
        <pre ng-show="debug"
             ng-bind="person | json"
             style="margin-top:20px;"></pre>
    </div>
</div>