<div class="col-xs-12">
    <table ng-table="tableParams"
           class="fls fls-table-with-details"
           show-filter="true">
        <tr ng-repeat="accountingRuleFilter in $data"
            ng-click="editAccountingRuleFilter(accountingRuleFilter)"
            title="{{'EDIT' | translate}}">
            <td data-title="'ACTIVE' | translate">
                <fls-checkbox is-checked="accountingRuleFilter.IsActive">
            </td>
            <td ng-bind="accountingRuleFilter.RuleFilterName"
                data-title="'ACCOUNTING_RULE_FILTER_NAME' | translate"
                filter="{ RuleFilterName: 'text'}"
                sortable="'RuleFilterName'"></td>
            <td ng-bind="accountingRuleFilter.Description"
                data-title="'DESCRIPTION' | translate"
                filter="{ Description: 'text'}"
                sortable="'Description'"></td>
            <td ng-bind="accountingRuleFilter.Target"
                data-title="'ACCOUNTING_RULE_FILTER_TARGET' | translate"
                filter="{ Target: 'text'}"
                sortable="'Target'"></td>
            <td ng-bind="accountingRuleFilter.AccountingRuleFilterTypeName"
                data-title="'ACCOUNTING_RULE_FILTER_TYPE' | translate"
                filter="{ AccountingRuleFilterTypeName: 'text'}"
                sortable="'AccountingRuleFilterTypeName'"></td>

            <td class="hidden-print controls-column">
                <div class="controls-cell">
                    <a ng-show="accountingRuleFilter.CanDeleteRecord"
                       title="{{'DELETE' | translate}}"
                       ng-click="deleteAccountingRuleFilter(accountingRuleFilter); $event.stopPropagation();"
                       class="col-xs-4 delete-link">
                        <span class="fa fa-trash-o"></span>
                    </a>
                    <a title="{{'COPY' | translate}}"
                       ng-click="copyAccountingRuleFilter(accountingRuleFilter); $event.stopPropagation();"
                       class="col-md-4 control-icon">
                        <span class="fa fa-files-o"></span>
                    </a>
                    <fls-history entity-name="AccountingRuleFilter"
                                 entity-id="accountingRuleFilter.AccountingRuleFilterId"
                                 class="col-xs-4"></fls-history>
                </div>
            </td>
        </tr>
    </table>
</div>
