<div>
    <fls-simple-search-bar search-string="searchString"></fls-simple-search-bar>
    <table class="fls" ng-show="!busy && !error">
        <tr>
            <th translate="LOCATION_NAME"></th>
            <th translate="LOCATION_TYPE"></th>
            <th translate="ICAO_CODE"></th>
            <th translate="COUNTRY"></th>
            <th class="hidden-print">&nbsp;</th>
        </tr>
        <tr ng-repeat="location in locations | filter:searchString">
            <td ng-bind="location.LocationName"></td>
            <td ng-bind="location.LocationTypeName"></td>
            <td ng-bind="location.IcaoCode"></td>
            <td ng-bind="location.CountryName"></td>
            <td class="hidden-print controls-column">
                <a ng-show="isClubAdmin" ng-click="editLocation(location)" style="cursor:pointer;" class="col-xs-4"><span class="fa fa-pencil"
                                                                                   style="color:#111123;font-weight: 500;"></span></a>
                <a ng-show="isClubAdmin" ng-click="deleteLocation(location)" style="cursor:pointer;" class="col-xs-4"><span class="fa fa-trash-o"
                                                                                     style="color:#a70000;font-weight: 500;"></span></a>
                <fls-history entity-name="Location" entity-id="location.LocationId" class="col-xs-4"></fls-history>
            </td>
        </tr>
    </table>
</div>