<div class="container-fluid flscontainer">
    <div>
        <h1 translate="FLIGHTS"></h1>
    </div>
    <div>
        <div class="row from-to-filter hidden-print" style="margin-bottom: 20px;">
            <div class="col-md-12 col-sm-12 col-xs-12" style="text-align:right;">
                <a class="search-bar-btn hidden-xs hidden-sm" translate="ALL_TIME"
                   ng-click="loadAllTime()"></a>
                <a class="search-bar-btn" translate="24_MONTHS"
                   ng-click="loadMonths(24)"></a>
                <a class="search-bar-btn hidden-xs hidden-sm" translate="12_MONTHS"
                   ng-click="loadMonths(12)"></a>
                <a class="search-bar-btn" translate="THIS_MONTH"
                   ng-click="loadMonth(0)"></a>
                <a class="search-bar-btn hidden-xs hidden-sm" translate="LAST_MONTH"
                   ng-click="loadMonth(1)"></a>
                <a class="search-bar-btn" translate="YESTERDAY"
                   ng-click="loadYesterday()"></a>
                <a class="search-bar-btn" translate="TODAY"
                   ng-click="loadToday()" style="margin-right:30px;"></a>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <fls-date-picker id="fromDate"
                                 placeholder="{{'FROM_DATE' | translate}}"
                                 ng-model="filterDates.fromDate"></fls-date-picker>
            </div>
            <div class="col-md-3 col-sm-12 col-xs-12">
                <fls-date-picker id="toDate"
                                 placeholder="{{'TO_DATE' | translate}}"
                                 ng-model="filterDates.toDate"></fls-date-picker>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <button id="button" class="form-control col-md-4 col-sm-4 col-sm-12" type="button"
                        ng-click="reloadList()" translate="LOAD_FLIGHTS"></button>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <fls-busy-indicator busy="busy" error="error">
                <fls-message-bar></fls-message-bar>
                <search-bar search-string="searchString"></search-bar>

                <table class="fls" ng-show="!error">
                    <tr class="visible-md visible-lg">
                        <th translate="STATUS"></th>
                        <th translate="DATE"></th>
                        <th translate="GLIDER_PLANE"></th>
                        <th translate="GLIDER_PILOT"></th>
                        <th translate="SECOND_CREW_MEMBER"></th>
                        <th translate="START_LOCATION"></th>
                        <th translate="TAKEOFF"></th>
                        <th translate="LANDING"></th>
                        <th translate="GLIDER_FLIGHT_DURATION"></th>
                        <th translate="TOWING_PLANE"></th>
                        <th translate="TOWING_PILOT"></th>
                        <th translate="TOW_LANDING"></th>
                        <th translate="TOW_DURATION"></th>
                        <th translate="COMMENT"></th>
                        <th>&nbsp;</th>
                    </tr>
                    <tr class="hidden-md hidden-lg">
                        <th>
                            <span translate="GLIDER_PLANE"></span>&nbsp;<br>
                            <span translate="GLIDER_PILOT"></span>&nbsp;<br>
                            <span translate="SECOND_CREW_MEMBER"></span>
                        </th>
                        <th>
                            <span translate="START_LOCATION"></span>&nbsp;<br>
                            <span translate="TAKEOFF"></span>&nbsp;<br>
                            <span translate="TOW_LANDING"
                                  style="font-style: italic;white-space: nowrap;"></span>&nbsp;<br>
                            <span translate="LANDING"></span>&nbsp;
                        </th>
                        <th>
                            <span translate="TOWING_PLANE"></span>&nbsp;<br>
                            <span translate="TOWING_PILOT"></span>&nbsp;
                        </th>
                    </tr>
                    <tr ng-repeat-start="flight in flights | filter:searchString" class="visible-md visible-lg">
                        <td ng-show="selectedFlight !== flight"
                            ng-click="select(flight)" style="cursor:pointer;">
                            <fls-flight-status flight="flight"></fls-flight-status>
                        </td>
                        <td ng-bind="flight.StartDateTime | date:'dd.MM.yyyy'"
                            ng-show="selectedFlight !== flight"
                            ng-click="select(flight)" style="cursor:pointer;"></td>
                        <td ng-bind="flight.Immatriculation" ng-show="selectedFlight !== flight"
                            ng-click="select(flight)"
                            style="cursor:pointer;"></td>
                        <td ng-bind="flight.PilotName" ng-show="selectedFlight !== flight" ng-click="select(flight)"
                            style="cursor:pointer;"></td>
                        <td ng-bind="flight.SecondCrewName" ng-show="selectedFlight !== flight"
                            ng-click="select(flight)"
                            style="cursor:pointer;"></td>
                        <td ng-bind="flight.StartLocation"
                            ng-show="selectedFlight !== flight"
                            ng-click="select(flight)" style="cursor:pointer;"></td>
                        <td ng-bind="flight.StartDateTime | date:'HH:mm'"
                            ng-show="selectedFlight !== flight"
                            ng-click="select(flight)" style="cursor:pointer;"></td>
                        <td ng-bind="flight.LdgDateTime | date:'HH:mm'"
                            ng-show="selectedFlight !== flight"
                            ng-click="select(flight)" style="cursor:pointer;"></td>
                        <td ng-bind="flight.GliderFlightDuration | date:'HH:mm'"
                            ng-show="selectedFlight !== flight"
                            ng-click="select(flight)" style="cursor:pointer;"></td>
                        <td ng-bind="flight.TowAircraftImmatriculation" ng-show="selectedFlight !== flight"
                            ng-click="select(flight)" style="cursor:pointer;"></td>
                        <td ng-bind="flight.TowPilotName" ng-show="selectedFlight !== flight"
                            ng-click="select(flight)" style="cursor:pointer;"></td>
                        <td ng-bind="flight.TowFlightLdgDateTime | date:'HH:mm'" ng-show="selectedFlight !== flight"
                            ng-click="select(flight)" style="cursor:pointer;"></td>
                        <td ng-bind="flight.TowFlightDuration | date:'HH:mm'" ng-show="selectedFlight !== flight"
                            ng-click="select(flight)" style="cursor:pointer;"></td>
                        <td ng-bind="flight.FlightComment" ng-show="selectedFlight !== flight" ng-click="select(flight)"
                            style="cursor:pointer;"></td>
                        <td class="hidden-print controls-column" ng-show="selectedFlight !== flight">
                            <a title="{{'DELETE' | translate}}" ng-click="delete(flight)" style="cursor:pointer;" class="col-md-4"
                               ng-show="flight.CanDeleteRecord"><span class="fa fa-trash-o"
                                                                      style="color:#a70000;font-weight: 500;"></span></a>
                            <a title="{{'COPY' | translate}}" ng-click="new(flight)" style="cursor:pointer;" class="col-md-4"><span class="fa fa-files-o"
                                                                      style="color:#5c585d;font-weight: 800;"></span></a>
                            <fls-history class="col-md-4" entity-name="Flight" entity-id="flight.FlightId"></fls-history>
                        </td>
                    </tr>
                    <tr class="hidden-md hidden-lg">
                        <td ng-show="selectedFlight !== flight"
                            ng-click="select(flight)" style="cursor:pointer;">
                            <span ng-bind="flight.Immatriculation"></span>&nbsp;<br>
                            <span ng-bind="flight.PilotName"></span>&nbsp;<br>
                            <span ng-bind="flight.SecondCrewName"></span>
                        </td>
                        <td ng-show="selectedFlight !== flight"
                            ng-click="select(flight)" style="cursor:pointer;">
                            <span ng-bind="flight.StartLocation"></span>&nbsp;<br>
                            <span ng-bind="flight.StartDateTime | date:'dd.MM.yyyy'"></span>&nbsp;<br>
                            <span ng-bind="flight.StartDateTime | date:'HH:mm'"></span>&nbsp;<br>
                    <span ng-bind="flight.TowFlightLdgDateTime | date:'HH:mm'"
                          style="font-style: italic;white-space: nowrap;"></span>&nbsp;<br>
                            <span ng-bind="flight.LdgDateTime | date:'HH:mm'"></span>&nbsp;
                        </td>
                        <td ng-show="selectedFlight !== flight"
                            ng-click="select(flight)" style="cursor:pointer;">
                            <span ng-bind="flight.TowAircraftImmatriculation"></span>&nbsp;<br>
                            <span ng-bind="flight.TowPilotName"></span>
                        </td>
                    </tr>
                    <tr ng-show="selectedFlight === flight"
                        ng-if="selectedFlight === flight">
                        <td class="formbg" colspan="15">
                            <fls-flight-edit-form></fls-flight-edit-form>
                        </td>
                    </tr>
                    <tr ng-repeat-end class="hidden-md hidden-lg last-line"
                        ng-click="select(flight)" style="cursor:pointer;">
                        <td colspan="3" ng-show="selectedFlight !== flight"><span ng-bind="flight.FlightComment"></span>&nbsp;
                        </td>
                    </tr>
                </table>

                <table class="fls" ng-show="newFlight && selectedFlight === newFlight"
                       ng-if="newFlight && selectedFlight === newFlight">
                    <tr>
                        <td class="row formbg">
                            <fls-flight-edit-form></fls-flight-edit-form>
                        </td>
                    </tr>
                </table>
                <button type="button" ng-click="new(false)" class="btn btn-default pull-right hidden-print" translate="NEW"
                        style="margin-top:10px;">
                </button>
                <div class="row col-md-12 col-sm-12 col-xs-12" ng-show="debug">
                    <div class="col-md-6">
                        <h2>gliderFlightTypes</h2>
                        <pre ng-show="gliderFlightTypes" ng-bind="gliderFlightTypes | json"></pre>
                    </div>
                    <div class="col-md-6">
                        <h2>towingFlightTypes</h2>
                        <pre ng-show="towingFlightTypes" ng-bind="towingFlightTypes | json"></pre>
                    </div>
                    <div class="col-md-12">
                        <h2>flightDetails</h2>
                        <pre ng-show="flightDetails" ng-bind="flightDetails | json"></pre>
                    </div>
                    <div class="col-md-12">
                        <h2>gliderAircrafts</h2>
                        <pre ng-show="gliderAircrafts" ng-bind="gliderAircrafts | json"></pre>
                    </div>
                    <div class="col-md-12">
                        <h2>flights</h2>
                        <pre ng-show="flights" ng-bind="flights | json"></pre>
                    </div>
                </div>
            </fls-busy-indicator>
        </div>
    </div>
</div>
