<div class="container flscontainer">
    <fls-message-bar></fls-message-bar>
    <fls-busy-indicator busy="busy"
                        error="error">
        <form role="form"
              ng-submit="save(flightDetails)"
              name="flightDetailsForm"
              class="css-form"
              ng-class="{'readonly-form':!flightDetails.CanUpdateRecord}">

            <pre ng-if="flightDetailsForm.$invalid && debug" style="color:red;">Form Invalid! {{flightDetailsForm.$error | json}}</pre>

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group col-md-12 col-sm-12 col-xs-12"
                     style="margin-top:20px;">
                    <label for="FlightDate"><span translate="DATE"></span>:</label>
                    <fls-date-picker id="FlightDate"
                                     ng-model="flightDetails.FlightDate"
                                     ng-disabled="!flightDetails.CanUpdateRecord"
                                     required></fls-date-picker>
                </div>
            </div>


            <div>
                <fls-flight-edit-glider-form></fls-flight-edit-glider-form>
            </div>

            <div>
                <fls-flight-edit-tow-form></fls-flight-edit-tow-form>
            </div>


            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12"
                     style="margin-bottom: 30px;">
                    <button type="button"
                            ng-click="cancel()"
                            class="btn btn-default pull-right"
                            translate="CANCEL">Cancel
                    </button>
                    <button type="submit"
                            class="btn btn-default pull-right"
                            style="margin-right:10px;"
                            translate="SAVE"
                            ng-disabled="flightDetailsForm.$invalid || !flightDetails.CanUpdateRecord">
                        Save
                    </button>
                    <button type="button"
                            ng-click="saveAndCopy(flightDetails)"
                            class="btn btn-default pull-right"
                            style="margin-right:10px;"
                            translate="SAVE_AND_COPY"
                            ng-disabled="flightDetailsForm.$invalid || !flightDetails.CanUpdateRecord">
                        Save
                    </button>
                    <button type="button"
                            ng-click="delete(flightDetails)"
                            ng-show="flightDetails.FlightId"
                            class="btn btn-danger pull-right"
                            style="margin-right:10px;"
                            ng-disabled="!flightDetails.CanDeleteRecord">
                        Delete
                    </button>
                </div>
            </div>
            <pre class="col-md-12"
                 ng-if="debug"
                 ng-bind="selectedFlightType | json"></pre>
            <pre class="col-md-12"
                 ng-if="debug"
                 ng-bind="flightDetailsForm | json"></pre>
        </form>
    </fls-busy-indicator>
    <pre ng-show="debug"
         ng-bind="flightDetails | json"
         style="margin-top:20px;"></pre>
</div>