h1 {
    font-size: 20px;
    margin: 0 0 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #e1e1e1;
    color: #888888;
}

div.flscontainer {
    margin-top: 30px;
    margin-bottom: 30px;
}

.navbar-brand a {
    color: gray;
    padding-right: 10px;
}

.navbar-brand a:focus,
.navbar-brand a:hover {
    text-decoration: none;
    outline: none;
}

.fls-navbar-title {
    font-weight: 300;
    color: #494949;
}

table.fls {
    border-collapse: separate;
    border-radius: 4px;
    border: 1px solid #d3d3d3;
    border-spacing: 0;
    overflow-x: auto;
    width: 100%;
    max-width: 100%;
}

tr th {
    padding: 5px 10px;
}

tr td {
    padding: 5px 10px;
    border-top: 1px solid #d3d3d3;
}

tr th {
    background-color: #efefef;
}

tr td {
    font-weight: 100;
}

tr.saturday,
tr.saturday td {
    background-color: #fafafa;
}

tr.sunday,
tr.sunday td {
    background-color: #f4f4f4;
}

div.flsdatepicker > td {
}

.btn-default:hover {
    background: #f6f8f9; /* Old browsers */
    background: -moz-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f8f9), color-stop(50%, #e5ebee), color-stop(51%, #d7dee3), color-stop(100%, #f5f7f9)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f6f8f9 0%, #e5ebee 50%, #d7dee3 51%, #f5f7f9 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f8f9', endColorstr='#f5f7f9', GradientType=0); /* IE6-9 */
}

td.formbg {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e5e5e5', GradientType=0); /* IE6-9 */
}

.last-line {
    border-bottom: 2px solid gray;
}

.readonly-form input,
.readonly-form .selectize-dropdown,
.readonly-form .selectize-input input,
.readonly-form .selectize-input .option,
.readonly-form .selectize-input.disabled {
    background-color: rgba(255, 255, 255, 0);
    color: black;
}

.readonly-form .form-control,
.readonly-form label {
    background-color: rgba(255, 255, 255, 0);
    cursor: default;
    height: 1.2em;
    line-height: 1em;
    margin: 0;
    padding: 0;
    box-shadow: none;
    color: black;
    font-weight: 700;
}

.readonly-form .selectize-control.single .selectize-input::after {
    content: none;
}

.readonly-form .form-control {
    border: 0;
    padding: 3px;
    padding-left: 0;
    height: 1.9em;
}

.readonly-form label {
    color: gray;
    font-weight: 200;
}

.readonly-form button.writing-button {
    display: none;
}

.readonly-form .form-group {
    margin: 0;
    padding: 10px;
}

.readonly-form .form-group input,
.readonly-form .form-group div,
.readonly-form .form-group select {
    margin-left: 0;
}

.search-bar,
.search-bar-btn {
    margin-bottom: 10px;
}

.search-bar-btn {
    margin-right: 10px;
    cursor: pointer;
    font-size: 80%;
    color: gray;
}

.error-bar p {
    margin: 0;
    padding: 0;
}

.error-bar h3 {
    font-size: 1.2em;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
}

div.masterdata-widget {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 300px;
    margin-bottom: 10px;
    border: 1px solid gray;
}

h3.masterdata-widget {
    color: #878787;
    margin: 10px;
}

.from-to-filter > input {
    margin: 0;
}

@media (max-width: 750px) {
    .from-to-filter a {
        font-size: 1.2em;
        line-height: 2em;
        margin-right: 70px;
    }
}

.dropdown-menu > li > a {
    cursor: default;
}

.dropdown-menu > li > a > strong {
    color: black;
    background-color: yellow;
}

.clickable {
    cursor: pointer;
}

td.controls-column {
    white-space: nowrap;
    width: 150px;
}

.form-group {
    margin-bottom: 8px;
}

input.highlight {
    border: 1px solid black;
    box-shadow: 0 0 10px red;
}

th.flag-title {
    font-size: 0.8em;
}

[date-picker] table {
    border: 1px solid #9a9a9a;
}

[date-picker] .active.active:hover,
[date-picker] .now.active:hover,
[date-picker] .now:hover {
    color: black;
}

table.logstable tr td pre {
    overflow: auto;
    max-width: 380px;
    max-height: 200px;
}

table.logstable tr td {
    vertical-align: top;
}

form .ng-invalid,
input.ng-invalid {
    background-color: #FA787E;
}

@media (min-width: 992px) {
    .fls-secondary-field {
        padding-left: 30px;
    }
}

.ng-table-counts {
    margin-top: 2px;
}

.sort-asc:before {
    font-family: 'FontAwesome';
    content: "\f0de";
    float: right;
}

.sort-desc:before {
    font-family: 'FontAwesome';
    content: "\f0dd";
    float: right;
}

.sortable {
    cursor: pointer;
}

.fls-table-new-button {
    margin-top: -10px;
}

.fls-table-with-details th {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fls-table-with-details tr td,
.fls-table-with-details tr th {
    padding: 5px;
}

.fls-table-with-details tr {
    cursor: pointer;
    min-height: 40px;
}

.fls-table-with-details tr:hover,
.fls-table-with-details tr:hover:nth-child(even) {
    background-color: #738fa8;
}

.fls-table-with-details tr:hover .control-icon,
.fls-table-with-details tr:hover td {
    color: white;
}

.fls-table-with-details tr:nth-child(even) {
    background-color: #fafafa;
}

.fls-table-with-details tr td {
    margin: 5px;
}

.fls-table-with-details tr:hover td:last-child:before {
    font-family: 'FontAwesome';
    content: "\f054";
    float: right;
    font-size: 16px;
}

.fls-table-with-details tr:hover .control-icon:hover {
    color: #00deff;
}

.fls-table-with-details tr:hover .delete-link:hover {
    color: #a70000;
}

.control-icon {
    color: #767676;
    padding: 0;
}

.control-icon span {
    margin: 5px;
    font-size: 16px;
}

@media print {
    .ng-table-filters {
        display: none;
    }
}

.busy-indicator-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    z-index: 9999;
}

.cssload-loader {
    margin-top: 100px;
    text-align: center;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: #9d98b1;
    border-color: #9d98b1;
}

td.flight--glider-cell {
    color: #2f2a75;
}

td.flight--motor-cell {
    color: #71531e;
}

td.immatriculation,
td.flight--time {
    font-weight: 800;
}

@media (max-width: 1024px) {
    th.flight--time {
        max-width: 50px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.fls-include-exclude-radio-choice {
    margin-left: 20px;
    float: left;
}

.fls-list-selection-label {
    margin-bottom: 0;
    margin-top: 5px;
}

.fls-list-selection-label-text {
    min-width: 120px;
    float: left;
}

.fls-include-exclude-radio-choice input {
    margin-right: 4px;
}

.multiline-selectize {
    height: 100px;
}

.fls-inline-form-control {
    display: inline-block;
    width: auto;
    margin: 0 3px;
    padding: 2px;
    height: 1.5em;
}

.fls-inline-form-control-large {
    flex-grow: 1;
}

.fls-inline-form {
    display: flex;
}

.fls-inline-form fls-labelled-checkbox {
    min-width: 300px;
}

.fls-inline-form fls-labelled-checkbox label {
    margin: 0 20px;
    padding: 0;
}

.try-flight-root {
    margin: -50px 0 0;
    padding: 20px;
    width: 100%;
    font-family: Verdana, Arial, Sans-Serif, sans-serif;
    color: #444444;
    background-color: #336699;
}

.try-flight-container {
    background-color: white;
    border-radius: 8px;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    max-width: 950px;
}

.try-flight-container .try-flight-header {
    margin: -50px -50px 50px;
    height: 130px;
    background-image: url(https://fgzo.ch/images/header950x130-06.jpg);
}

.try-flight-section {
    margin-top: 30px;
}

.fls-recaptcha {
    margin-bottom: 15px;
}


.fls-new-button {
    position: fixed;
    right: 8vw;
    bottom: 8vh;
    z-index: 9999;
}

.fls-new-button button {
    border: 0;
    margin-left: 20px;
    color: white;
    background-color: rgba(37, 32, 128, 0.68);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.fls-new-button button:focus {
    outline: none;
}

.fls-new-button button:hover {
    color: white;
    background-color: rgba(37, 32, 128, 1);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.43);
}