<div class="col-xs-12">
    <table ng-table="tableParams" class="fls fls-table-with-details" show-filter="true">
        <tr ng-repeat="deliveryCreationTest in $data" ng-click="editDeliveryCreationTest(deliveryCreationTest)" title="{{'EDIT' | translate}}">
            <td data-title="'ACTIVE' | translate">
                <fls-checkbox is-checked="deliveryCreationTest.IsActive">
            </td>
            <td ng-bind="deliveryCreationTest.DeliveryCreationTestName" data-title="'DELIVERY_CREATION_TEST_NAME' | translate" filter="{ DeliveryCreationTestName: 'text'}" sortable="'DeliveryCreationTestName'"></td>
            <td ng-bind="deliveryCreationTest.Description" data-title="'DESCRIPTION' | translate" filter="{ Description: 'text'}" sortable="'Description'"></td>
            <td class="hidden-print controls-column">
                <a ng-show="flight.CanDeleteRecord"
                   title="{{'DELETE' | translate}}"
                   ng-click="deleteDeliveryCreationTest(deliveryCreationTest); $event.stopPropagation();"
                   class="col-xs-4 delete-link">
                    <span class="fa fa-trash-o"></span>
                </a>
                <fls-history entity-name="DeliveryCreationTest" entity-id="deliveryCreationTest.DeliveryCreationTestId" class="col-xs-4"></fls-history>
            </td>
        </tr>
    </table>
</div>
