<div class="col-xs-12">
    <div class="progress">
        <div class="progress-bar progress-bar-success"
             ng-style="{width: successPercent + '%'}">
            <span class="sr-only">success</span>
        </div>
        <div class="progress-bar progress-bar-danger"
             ng-style="{width: errorPercent + '%'}">
            <span class="sr-only">error</span>
        </div>
        <div class="progress-bar progress-bar-info progress-bar-striped active"
             ng-style="{width: executingPercent + '%'}">
            <span class="sr-only">executing</span>
        </div>
    </div>
    <section class="hidden-print"
             style="min-height: 40px; margin-bottom: 10px;">
        <div class="btn-group pull-right">
            <button class="btn btn-info"
                    ng-disabled="executingTests"
                    translate="RUN_ALL_TESTS"
                    ng-click="runAllTests()"></button>
        </div>
    </section>

    <table ng-table="tableParams"
           class="fls fls-table-with-details"
           show-filter="true">
        <tr ng-repeat="deliveryCreationTest in $data"
            ng-click="editDeliveryCreationTest(deliveryCreationTest)"
            ng-attr-title="{{deliveryCreationTest.status}}">

            <td data-title="'ACTIVE' | translate">
                <fls-checkbox is-checked="deliveryCreationTest.IsActive">
            </td>
            <td ng-bind="deliveryCreationTest.DeliveryCreationTestName"
                data-title="'DELIVERY_CREATION_TEST_NAME' | translate"
                filter="{ DeliveryCreationTestName: 'text'}"
                sortable="'DeliveryCreationTestName'"></td>
            <td ng-bind="deliveryCreationTest.Description"
                data-title="'DESCRIPTION' | translate"
                filter="{ Description: 'text'}"
                sortable="'Description'"></td>
            
            <td data-title="'STATUS' | translate">
                <span class="fa fa-spinner fa-pulse"
                      ng-if="deliveryCreationTest.executing"></span>

                <span class="fa"
                      style="color: #00a144; margin-right: 10px;"
                      ng-class="{'fa-check': deliveryCreationTest.success, 'fa-square-o': deliveryCreationTest.skipped}"
                      ng-show="!deliveryCreationTest.executing"></span>

                <span ng-bind="deliveryCreationTest.status"
                      ng-if="!deliveryCreationTest.executing"
                      class="data-cell-eclipsed"></span>
            </td>

            <td class="hidden-print controls-column">
                <a ng-show="deliveryCreationTest.CanDeleteRecord"
                   title="{{'DELETE' | translate}}"
                   ng-click="deleteDeliveryCreationTest(deliveryCreationTest); $event.stopPropagation();"
                   class="col-xs-4 delete-link">
                    <span class="fa fa-trash-o"></span>
                </a>
                <fls-history entity-name="DeliveryCreationTest"
                             entity-id="deliveryCreationTest.DeliveryCreationTestId"
                             class="col-xs-4"></fls-history>
            </td>
        </tr>
    </table>
</div>
