<div>
    <fls-simple-search-bar search-string="searchString"></fls-simple-search-bar>
    <table class="fls">
        <tr>
            <th translate="IMMATRICULATION"></th>
            <th translate="AIRCRAFT_MODEL"></th>
            <th translate="COMPETITION_SIGN"></th>
            <th translate="MANUFACTURER_NAME"></th>
            <th translate="NUMBER_OF_SEATS"></th>
            <th class="hidden-print">&nbsp;</th>
        </tr>
        <tr ng-repeat-start="aircraft in aircrafts | filter:searchString:comparator">
            <td ng-bind="aircraft.Immatriculation"></td>
            <td ng-bind="aircraft.AircraftModel"></td>
            <td ng-bind="aircraft.CompetitionSign"></td>
            <td ng-bind="aircraft.ManufacturerName"></td>
            <td ng-bind="aircraft.NrOfSeats"></td>
            <td class="hidden-print controls-column">
                <a ng-show="isClubAdmin" ng-click="editAircraft(aircraft)" style="cursor:pointer;" class="col-xs-4"><span class="fa fa-pencil"
                                                                                   style="color:#111123;font-weight: 800;"></span></a>
                <a ng-show="isClubAdmin" ng-click="deleteAircraft(aircraft)" style="cursor:pointer;" class="col-xs-4"><span class="fa fa-trash-o"
                                                                                     style="color:#a70000;font-weight: 800;"></span></a>
                <fls-history entity-name="Aircraft" entity-id="aircraft.AircraftId" class="col-xs-4"></fls-history>
            </td>
        </tr>
        <tr ng-repeat-end></tr>
    </table>
</div>
