<div class="col-xs-12">
    <table ng-table="tableParams" class="fls fls-table-with-details" show-filter="true">
        <tr ng-repeat="aircraft in $data" ng-click="editAircraft(aircraft)" title="{{'EDIT' | translate}}">
            <td ng-bind="aircraft.Immatriculation" data-title="'IMMATRICULATION' | translate" filter="{ Immatriculation: 'text'}" sortable="'Immatriculation'"></td>
            <td ng-bind="aircraft.AircraftModel" data-title="'AIRCRAFT_MODEL' | translate" filter="{ AircraftModel: 'text'}" sortable="'AircraftModel'"></td>
            <td ng-bind="aircraft.CompetitionSign" data-title="'COMPETITION_SIGN' | translate" filter="{ CompetitionSign: 'text'}" sortable="'CompetitionSign'"></td>
            <td ng-bind="aircraft.ManufacturerName" data-title="'MANUFACTURER_NAME' | translate" filter="{ ManufacturerName: 'text'}" sortable="'ManufacturerName'"></td>
            <td ng-bind="aircraft.NrOfSeats" data-title="'NUMBER_OF_SEATS' | translate" filter="{ NrOfSeats: 'text'}" sortable="'NrOfSeats'"></td>
            <td class="hidden-print controls-column">
                <a ng-show="flight.CanDeleteRecord"
                   title="{{'DELETE' | translate}}"
                   ng-click="deleteAircraft(aircraft); $event.stopPropagation();"
                   class="col-xs-4 delete-link">
                    <span class="fa fa-trash-o"></span>
                </a>
                <fls-history entity-name="Aircraft" entity-id="aircraft.AircraftId" class="col-xs-4"></fls-history>
            </td>
        </tr>
    </table>
</div>
