<table ng-table="tableParams"
       class="fls fls-table-with-details"
       show-filter="true"
       ng-show="!busy && !error">
    <tr ng-repeat="reservation in $data"
        ng-click="showReservationDetails(reservation)"
        title="{{'EDIT' | translate}}">
        <td ng-bind="reservation.Start | date:'dd.MM.yyyy'"
            data-title="'DATE' | translate"
            filter="{ Start: 'text'}"
            sortable="'Start'"></td>
        <td ng-bind="reservation.Start | date:'HH:mm'"
            data-title="'START' | translate"
            filter="{ Start: 'text'}"
            sortable="'Start'"></td>
        <td ng-bind="reservation.End | date:'HH:mm'"
            data-title="'END' | translate"
            filter="{ End: 'text'}"
            sortable="'End'"></td>
        <td ng-bind="reservation.LocationName"
            data-title="'LOCATION' | translate"
            filter="{ LocationName: 'text'}"
            sortable="'LocationName'"></td>
        <td ng-bind="reservation.Immatriculation"
            data-title="'IMMATRICULATION' | translate"
            filter="{ Immatriculation: 'text'}"
            sortable="'Immatriculation'"></td>
        <td ng-bind="reservation.PilotName"
            data-title="'PILOT_NAME' | translate"
            filter="{ PilotName: 'text'}"
            sortable="'PilotName'"></td>
        <td ng-bind="reservation.InstructorName"
            data-title="'INSTRUCTOR_NAME' | translate"
            filter="{ InstructorName: 'text'}"
            sortable="'InstructorName'"></td>
        <td ng-bind="reservation.ReservationTypeName"
            data-title="'RESERVATION_TYPE' | translate"
            filter="{ ReservationTypeName: 'text'}"
            sortable="'ReservationTypeName'"></td>
        <td ng-bind="reservation.Remarks"
            data-title="'REMARKS' | translate"
            filter="{ Remarks: 'text'}"
            sortable="'Remarks'"></td>
        <td class="hidden-print controls-column">
            <a ng-show="isReservationAdmin"
               title="{{'DELETE' | translate}}"
               ng-click="deleteReservation(reservation, $event); $event.stopPropagation();"
               class="col-xs-4 delete-link">
                <span class="fa fa-trash-o"></span>
            </a>
            <fls-history entity-name="AircraftReservation"
                         entity-id="reservation.AircraftReservationId"
                         class="col-xs-4"></fls-history>
        </td>
    </tr>
</table>
