<div class="col-xs-12">
    <table ng-table="tableParams" class="fls fls-table-with-details" show-filter="true">
        <tr ng-repeat="club in $data" ng-click="editClub(club)" title="{{'EDIT' | translate}}">
            <td ng-bind="club.ClubName" data-title="'NAME' | translate" filter="{ ClubName: 'text'}" sortable="'ClubName'"></td>
            <td ng-bind="club.CountryName" data-title="'COUNTRY' | translate" filter="{ CountryName: 'text'}" sortable="'CountryName'"></td>
            <td class="hidden-print controls-column">
                <a ng-show="flight.CanDeleteRecord"
                   title="{{'DELETE' | translate}}"
                   ng-click="deleteClub(club); $event.stopPropagation();"
                   class="col-xs-4 delete-link">
                    <span class="fa fa-trash-o"></span>
                </a>
                <fls-history entity-name="Club" entity-id="club.ClubId" class="col-xs-4"></fls-history>
            </td>
        </tr>
    </table>
</div>