<div class="container-fluid flscontainer"
     ng-init="reloadList();">
    <div class="hidden-print fls-new-button">
        <button type="button"
                ng-click="newFlight()">
            <span class="fa fa-plus fa-2x"></span>
        </button>
    </div>
    <fls-message-bar></fls-message-bar>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <fls-busy-indicator busy="busy"
                            error="error">

            <table ng-table="tableParams"
                   class="fls fls-table-with-details"
                   show-filter="true">
                <tr ng-repeat="flight in $data"
                    ng-click="editFlight(flight)"
                    ng-class="{
                      'fls-flight-row-warning': flight.ValidationState == 28 || flight.ProcessState > 0
                    }"
                    title="{{'EDIT' | translate}}">
                    <td data-title="'STATUS' | translate">
                        <fls-flight-status flight="flight" mode="'MOTOR'"></fls-flight-status>
                    </td>
                    <td ng-bind="flight.FlightDate | date:'dd.MM.yyyy'"
                        data-title="'DATE' | translate"
                        filter="{ FlightDate: 'date'}" 
                        sortable="'FlightDate'"></td>
                    <td ng-bind="flight.Immatriculation"
                        data-title="'MOTOR_PLANE' | translate"
                        class="flight--motor-cell immatriculation"
                        filter="{ Immatriculation: 'text'}"
                        sortable="'Immatriculation'"></td>
                    <td ng-bind="flight.PilotName"
                        data-title="'PILOT' | translate"
                        class="flight--motor-cell hidden-xs"
                        header-class="'hidden-xs'"
                        filter="{ PilotName: 'text'}"
                        sortable="'PilotName'"></td>
                    <td ng-bind="flight.SecondCrewName"
                        data-title="'SECOND_CREW_MEMBER' | translate"
                        class="flight--motor-cell hidden-xs hidden-sm"
                        header-class="'hidden-xs hidden-sm'"
                        filter="{ SecondCrewName: 'text'}"
                        sortable="'SecondCrewName'"></td>
                    <td ng-bind="flight.StartLocation"
                        data-title="'START_LOCATION' | translate"
                        class="hidden-xs hidden-sm"
                        header-class="'hidden-xs hidden-sm'"
                        filter="{ StartLocation: 'text'}"
                        sortable="'StartLocation'"></td>
                    <td ng-bind="flight.StartDateTime | date:'HH:mm'"
                        class="flight--motor-cell flight--time"
                        header-class="'flight--time'"
                        data-title="'TAKEOFF' | translate"></td>
                    <td ng-bind="flight.LdgDateTime | date:'HH:mm'"
                        class="flight--motor-cell flight--time hidden-xs"
                        header-class="'flight--time hidden-xs'"
                        data-title="'LANDING' | translate"></td>
                    <td ng-bind="flight.FlightDuration && ('0001-01-01T' + flight.FlightDuration) | date:'HH:mm'"
                        data-title="'FLIGHT_DURATION' | translate"
                        class="flight--motor-cell flight--time hidden-xs"
                        header-class="'flight--time hidden-xs'"

                        sortable="'FlightDuration'"></td>
                    <td ng-bind="flight.FlightComment"
                        data-title="'COMMENT' | translate"
                        class="flight--motor-cell hidden-xs hidden-sm hidden-md"
                        header-class="'hidden-xs hidden-sm hidden-md'"
                        filter="{ FlightComment: 'text'}"
                        sortable="'FlightComment'"></td>
                    <td class="hidden-print controls-column hidden-xs"
                        header-class="'hidden-print hidden-xs'">
                        <a ng-show="flight.CanDeleteRecord"
                           title="{{'DELETE' | translate}}"
                           ng-click="delete(flight); $event.stopPropagation();"
                           class="col-xs-4 control-icon delete-link">
                            <span class="fa fa-trash-o"></span>
                        </a>
                        <a title="{{'COPY' | translate}}"
                           ng-click="copyFlight(flight); $event.stopPropagation();"
                           class="col-md-4 control-icon">
                            <span class="fa fa-files-o"></span>
                        </a>
                        <fls-history entity-name="Flight"
                                     entity-id="flight.FlightId"></fls-history>
                    </td>
                </tr>
            </table>

            <div class="row col-md-12 col-sm-12 col-xs-12"
                 ng-show="debug">
                <div class="col-md-6">
                    <h2>gliderFlightTypes</h2>
                    <pre ng-show="gliderFlightTypes"
                         ng-bind="gliderFlightTypes | json"></pre>
                </div>
                <div class="col-md-6">
                    <h2>towingFlightTypes</h2>
                    <pre ng-show="towingFlightTypes"
                         ng-bind="towingFlightTypes | json"></pre>
                </div>
                <div class="col-md-12">
                    <h2>flightDetails</h2>
                    <pre ng-show="flightDetails"
                         ng-bind="flightDetails | json"></pre>
                </div>
                <div class="col-md-12">
                    <h2>gliderAircrafts</h2>
                    <pre ng-show="gliderAircrafts"
                         ng-bind="gliderAircrafts | json"></pre>
                </div>
                <div class="col-md-12">
                    <h2>flights</h2>
                    <pre ng-show="flights"
                         ng-bind="flights | json"></pre>
                </div>
            </div>
        </fls-busy-indicator>
    </div>
</div>
</div>
