<div class="container-fluid flscontainer">
    <div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <fls-busy-indicator busy="busy"
                                error="error">
                <fls-message-bar></fls-message-bar>

                <h1 translate="{{titleKey}}"></h1>

                <h4 translate="FLIGHT_REPORT_FILTER_CRITERIA"></h4>
                <div class="filter-criteria-panel"
                     ng-show="!!FlightReportFilterCriteria">
                    <div class="row">
                        <div class="col-md-1">
                            <div translate="FROM_DATE"></div>
                            <div class="filter-value"
                                 ng-bind="FlightReportFilterCriteria.FlightDate.From | date:'dd.MM.yyyy'"></div>
                        </div>

                        <div class="col-md-2">
                            <div translate="TO_DATE"></div>
                            <div class="filter-value"
                                 ng-bind="FlightReportFilterCriteria.FlightDate.To | date:'dd.MM.yyyy'"></div>
                        </div>
                        <div class="col-md-2">
                            <div translate="GLIDER_FLIGHTS"></div>
                            <div class="filter-value" translate="{{FlightReportFilterCriteria.GliderFlights ? 'YES' : 'NO'}}"></div>
                        </div>
                        <div class="col-md-2">
                            <div translate="MOTOR_FLIGHTS"></div>
                            <div class="filter-value" translate="{{FlightReportFilterCriteria.MotorFlights ? 'YES' : 'NO'}}"></div>
                        </div>
                        <div class="col-md-4" ng-if="!!FlightReportFilterCriteria.LocationId">
                            <div translate="LOCATION"></div>
                            <div class="filter-value">
                                <a target="_blank"
                                   ng-href="{{'#/masterdata/locations/' + FlightReportFilterCriteria.LocationId}}">
                                    <span ng-bind="myHomeLocation.IcaoCode"></span>
                                    (<span ng-bind="myHomeLocation.LocationName"></span>)
                                </a>
                            </div>
                        </div>
                        <div class="col-md-4" ng-if="!!FlightReportFilterCriteria.FlightCrewPersonId">
                            <div translate="PERSON"></div>
                            <div class="filter-value">
                                <a target="_blank"
                                   ng-href="{{'#/masterdata/persons/' + FlightReportFilterCriteria.FlightCrewPersonId}}">
                                    <span ng-bind="person.Firstname"></span> <span ng-bind="person.Lastname"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 translate="FLIGHT_REPORT_SUMMARY"
                    style="margin-top: 20px;"></h4>
                <table class="fls">
                    <tr>
                        <th translate="GroupBy"></th>
                        <th translate="TotalStarts"></th>
                        <th translate="TotalFlightDuration"></th>
                    </tr>
                    <tr ng-repeat="summary in FlightReportSummaries">
                        <td ng-bind="summary.GroupBy"></td>
                        <td ng-bind="summary.TotalStarts"></td>
                        <td ng-bind="summary.TotalFlightDuration && ('0001-01-01T' + summary.TotalFlightDuration) | date:'HH:mm'"></td>
                    </tr>
                </table>

                <h4 translate="FLIGHTS"
                    style="margin-top: 50px;"></h4>
                <table ng-table="tableParams"
                       class="fls fls-table-with-details"
                       show-filter="false">
                    <tr ng-repeat="flight in $data"
                        ng-click="editFlight(flight)">
                        <td ng-bind="flight.FlightDate | date:'dd.MM.yyyy'"
                            data-title="'DATE' | translate"
                            filter="{ FlightDate: 'date'}"
                            sortable="'FlightDate'"></td>
                        <td ng-bind="flight.Immatriculation"
                            data-title="'GLIDER_PLANE' | translate"
                            filter="{ Immatriculation: 'text'}"
                            sortable="'Immatriculation'"
                            class="flight--glider-cell immatriculation"></td>
                        <td ng-bind="flight.PilotName"
                            data-title="'PILOT' | translate"
                            class="flight--glider-cell hidden-xs"
                            sortable="'PilotName'"
                            filter="{ PilotName: 'text'}"></td>
                        <td ng-bind="flight.SecondCrewName"
                            data-title="'SECOND_CREW_MEMBER' | translate"
                            class="flight--glider-cell hidden-xs"
                            sortable="'SecondCrewName'"
                            filter="{ SecondCrewName: 'text'}"></td>
                        <td data-title="'IS_SOLO_FLIGHT' | translate"
                            sortable="'IsSoloFlight'">
                            <fls-checkbox is-checked="flight.IsSoloFlight"></fls-checkbox>
                        </td>
                        <td ng-bind="flight.FlightTypeName"
                            data-title="'FLIGHT_TYPE' | translate"
                            class="flight--glider-cell hidden-xs"
                            sortable="'FlightTypeName'"
                            header-class="'hidden-xs hidden-sm hidden-md'"></td>
                        <td ng-bind="flight.StartLocation"
                            data-title="'START_LOCATION' | translate"
                            class="hidden-xs hidden-sm hidden-md"
                            header-class="'hidden-xs hidden-sm hidden-md'"
                            filter="{ StartLocation: 'text'}"
                            sortable="'StartLocation'"></td>
                        <td ng-bind="flight.LdgLocation"
                            data-title="'LANDING_LOCATION' | translate"
                            class="hidden-xs hidden-sm hidden-md"
                            header-class="'hidden-xs hidden-sm hidden-md'"
                            filter="{ LdgLocation: 'text'}"
                            sortable="'LdgLocation'"></td>
                        <td ng-bind="flight.StartDateTime | date:'HH:mm'"
                            data-title="'TAKEOFF' | translate"
                            class="flight--glider-cell flight--time"
                            sortable="'StartDateTime'"
                            header-class="'flight--time'"></td>
                        <td ng-bind="flight.LdgDateTime | date:'HH:mm'"
                            data-title="'LANDING' | translate"
                            class="flight--glider-cell flight--time hidden-xs"
                            sortable="'LdgDateTime'"
                            header-class="'flight--time hidden-xs'"></td>
                        <td ng-bind="flight.FlightDuration && ('0001-01-01T' + flight.FlightDuration) | date:'HH:mm'"
                            data-title="'GLIDER_FLIGHT_DURATION' | translate"
                            class="flight--glider-cell flight--time hidden-xs"
                            sortable="'FlightDuration'"
                            header-class="'flight--time hidden-xs'"></td>
                        <td ng-bind="flight.FlightComment"
                            data-title="'COMMENT' | translate"
                            class="hidden-xs hidden-sm hidden-md"
                            header-class="'hidden-xs hidden-sm hidden-md'"
                            filter="{ FlightComment: 'text'}"
                            sortable="'FlightComment'"></td>
                        <td ng-bind="flight.TowFlight.Immatriculation"
                            data-title="'TOWING_PLANE' | translate"
                            filter="{ TowAircraftImmatriculation: 'text'}"
                            sortable="'TowAircraftImmatriculation'"
                            class="flight--motor-cell immatriculation hidden-xs"
                            header-class="'hidden-xs'"></td>
                        <td ng-bind="flight.TowFlight.PilotName"
                            data-title="'TOWING_PILOT' | translate"
                            filter="{ TowPilotName: 'text'}"
                            sortable="'TowPilotName'"
                            class="flight--motor-cell hidden-xs hidden-sm"
                            header-class="'hidden-xs hidden-sm'"></td>
                        <td ng-bind="flight.TowFlight.LdgDateTime | date:'HH:mm'"
                            data-title="'TOW_LANDING' | translate"
                            filter="{ TowFlightLdgDateTime: 'text'}"
                            sortable="'TowFlightLdgDateTime'"
                            class="flight--motor-cell flight--time hidden-xs"
                            header-class="'flight--time hidden-xs'"></td>
                        <td ng-bind="flight.TowFlight.FlightDuration && ('0001-01-01T' + flight.TowFlight.FlightDuration) | date:'HH:mm'"
                            data-title="'TOW_DURATION' | translate"
                            class="flight--motor-cell flight--time hidden-xs hidden-sm"
                            sortable="'TowFlightDuration'"
                            header-class="'flight--time hidden-xs hidden-sm'"></td>
                    </tr>
                </table>

                <div class="row col-md-12 col-sm-12 col-xs-12"
                     ng-show="debug">
                    <div class="col-md-6">
                        <h2>gliderFlightTypes</h2>
                        <pre ng-show="gliderFlightTypes"
                             ng-bind="gliderFlightTypes | json"></pre>
                    </div>
                    <div class="col-md-6">
                        <h2>towingFlightTypes</h2>
                        <pre ng-show="towingFlightTypes"
                             ng-bind="towingFlightTypes | json"></pre>
                    </div>
                    <div class="col-md-12">
                        <h2>flights</h2>
                        <pre ng-show="flights"
                             ng-bind="flights | json"></pre>
                    </div>
                </div>
            </fls-busy-indicator>
        </div>
    </div>
</div>
