<div class="container flscontainer">
    <div class="col-md-12">
        <fls-busy-indicator busy="busy"
                            error="error">
            <fls-message-bar></fls-message-bar>

            <form role="form"
                  class="css-form"
                  ng-class="{'readonly-form':!delivery.CanUpdateRecord}"
                  name="deliveryForm">
                
                <div class="row">
                    <div class="col-md-8">

                        <div class="form-group">
                            <label for="DeliveryNumber"><span translate="DELIVERY_NUMBER"></span></label>
                            <input class="form-control"
                                   id="DeliveryNumber"
                                   ng-model="delivery.DeliveryNumber"
                                   required>
                        </div>

                    </div>
                    <div class="col-md-8">

                        <div class="form-group">
                            <label for="DeliveryInformation"><span translate="DELIVERY_INFORMATION"></span></label>
                            <input class="form-control"
                                   id="DeliveryInformation"
                                   ng-model="delivery.DeliveryInformation">
                        </div>

                        <div class="form-group">
                            <label for="AircraftImmatriculation"><span translate="AIRCRAFT_IMMATRICULATION"></span></label>
                            <input class="form-control"
                                   id="AircraftImmatriculation"
                                   ng-model="delivery.FlightInformation.AircraftImmatriculation">
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="DeliveryItems"><span translate="DELIVERY_ITEMS"></span></label>
                        <table width="100%">
                            <tr>
                                <th>Position</th>
                                <th>ArticleNumber</th>
                                <th>ItemText</th>
                                <th>Quantity</th>
                                <th>UnitType</th>
                            </tr>
                            <tr ng-repeat="deliveryItem in delivery.DeliveryItems">
                                <td ng-bind="deliveryItem.Position"></td>
                                <td ng-bind="deliveryItem.ArticleNumber"></td>
                                <td ng-bind="deliveryItem.ItemText"></td>
                                <td ng-bind="deliveryItem.Quantity"></td>
                                <td ng-bind="deliveryItem.UnitType"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="form-group" style="margin-bottom:200px;">
                    <button type="button"
                            ng-click="cancel()"
                            class="btn btn-default pull-right"
                            translate="CANCEL">
                        Cancel
                    </button>
                    <button type="submit"
                            class="btn btn-default pull-right"
                            ng-disabled="deliveryForm.$invalid || !delivery.CanUpdateRecord"
                            translate="SAVE"
                            style="margin-right:10px;">Save
                    </button>
                </div>
            </form>
        </fls-busy-indicator>
        <pre ng-show="debug"
             ng-bind="delivery | json"
             style="margin-top:20px;"></pre>
    </div>
</div>