<div>
    <fls-simple-search-bar search-string="searchString"></fls-simple-search-bar>
    <table class="fls">
        <tr>
            <th translate="USER_NAME"></th>
            <th translate="FRIENDLY_USER_NAME"></th>
            <th translate="PERSON_NAME"></th>
            <th translate="CLUB_NAME"></th>
            <th translate="ROLES"></th>
            <th class="hidden-print">&nbsp;</th>
        </tr>
        <tr ng-repeat-start="user in users | filter:searchString">
            <td ng-bind="user.UserName"></td>
            <td ng-bind="user.FriendlyName"></td>
            <td ng-bind="user.PersonName"></td>
            <td ng-bind="user.ClubName"></td>
            <td ng-bind="user.UserRoles"></td>
            <td class="hidden-print controls-column">
                <a ng-click="editUser(user)" style="cursor:pointer;" class="col-xs-4"><span class="fa fa-pencil"
                                                                           style="color:#111123;font-weight: 800;"></span></a>
                <a ng-click="deleteUser(user)" style="cursor:pointer;" class="col-xs-4"><span class="fa fa-trash-o"
                                                                             style="color:#a70000;font-weight: 800;"></span></a>
                <fls-history entity-name="User" entity-id="user.UserId" class="col-xs-4"></fls-history>
            </td>
        </tr>
        <tr ng-repeat-end></tr>
    </table>
</div>