<div>
    <table ng-table="tableParams" class="fls fls-table-with-details" show-filter="true">
        <tr ng-repeat="user in $data" ng-click="editUser(user)" title="{{'EDIT' | translate}}">
            <td ng-bind="user.UserName" data-title="'USER_NAME' | translate" filter="{ UserName: 'text'}" sortable="'UserName'"></td>
            <td ng-bind="user.FriendlyName" data-title="'FRIENDLY_USER_NAME' | translate" filter="{ FriendlyName: 'text'}" sortable="'FriendlyName'"></td>
            <td ng-bind="user.PersonName" data-title="'PERSON_NAME' | translate" filter="{ PersonName: 'text'}" sortable="'PersonName'"></td>
            <td ng-bind="user.ClubName" data-title="'CLUB_NAME' | translate" filter="{ ClubName: 'text'}" sortable="'ClubName'"></td>
            <td ng-bind="user.UserRoles" data-title="'ROLES' | translate" filter="{ UserRoles: 'text'}" sortable="'UserRoles'"></td>
            <td ng-bind="user.AccountState" data-title="'USER_ACCOUNT_STATE' | translate" filter="{ AccountState: 'accountStates'}" sortable="'AccountState'"></td>
            <td class="hidden-print controls-column">
                <a ng-show="isClubAdmin"
                   title="{{'DELETE' | translate}}"
                   ng-click="deleteUser(user); $event.stopPropagation();"
                   class="col-xs-4 delete-link">
                    <span class="fa fa-trash-o"></span>
                </a>
                <fls-history entity-name="User" entity-id="user.UserId" class="col-xs-4"></fls-history>
            </td>
        </tr>
    </table>
</div>