<div>
    <div class="form-group col-md-6">
        <label for="UserName"><span translate="USER_NAME"></span></label>
        <input class="form-control"
               id="UserName"
               ng-model="user.UserName">
    </div>
    <div class="form-group col-md-6">
        <label for="FriendlyName"><span translate="FRIENDLY_USER_NAME"></span></label>
        <input class="form-control"
               id="FriendlyName"
               ng-model="user.FriendlyName">
    </div>
    <div class="form-group col-md-12">
        <label for="NotificationEmail"><span translate="NOTIFICATION_EMAIL"></span></label>
        <input type="email"
               class="form-control"
               id="NotificationEmail"
               ng-model="user.NotificationEmail">
    </div>
    <label class="checkbox col-md-11 col-md-offset-1"
           for="{{role.RoleApplicationKeyString}}"
           ng-repeat="role in roles">
        <input type="checkbox"
               id="{{role.RoleApplicationKeyString}}"
               ng-click="toggleRoleSelection(user, role.RoleId)"
               ng-checked="user.UserRoleIds && user.UserRoleIds.indexOf(role.RoleId) > -1">
        <span ng-bind="role.RoleName"></span>
    </label>
    <div class="form-group col-md-8">
        <label for="PersonId"><span translate="USER_RELATED_PERSON"></span></label>

        <div class="input-group col-md-12 col-sm-12 col-xs-12">
            <selectize name="PersonId"
                       options="md.persons"
                       config="{
                                inputClass: 'form-control selectize-input',
                                maxItems: 1,
                                valueField: 'PersonId',
                                searchField: ['Firstname', 'Lastname', 'City'],
                                render: renderPerson
                            }"
                       ng-model="user.PersonId"></selectize>
                <span class="input-group-btn">
                    <button type="button"
                            class="btn btn-default"
                            ng-click="newPerson()"
                            translate="NEW"></button>
                </span>
        </div>
    </div>
    <div class="form-group col-md-4">
        <label for="UserAccountState"><span translate="USER_ACCOUNT_STATE"></span></label>
        <selectize name="UserAccountState"
                   id="UserAccountState"
                   style="height:30px;"
                   options="md.userAccountStates"
                   config="{
                                    maxItems: 1,
                                    valueField: 'UserAccountStateId',
                                    searchField: ['AccountStateName'],
                                    render: renderUserAccountState
                                }"
                   ng-model="user.AccountState"
                   ng-disabled="!isClubAdmin"
                   required></selectize>
    </div>
    <div class="form-group col-md-12">
        <label for="ClubId"><span translate="CLUB"></span></label>
        <selectize name="ClubId"
                   id="ClubId"
                   style="height:30px;"
                   options="md.clubs"
                   config="{
                                    maxItems: 1,
                                    valueField: 'ClubId',
                                    searchField: ['ClubName'],
                                    render: renderClub
                                }"
                   ng-model="user.ClubId"
                   ng-disabled="!isSystemAdmin"
                   required></selectize>
    </div>
</div>